body {
    background-color: #3A4965;
}

.price-table {
    border-collapse: collapse;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.price-table td {
    border-left: 1px solid #d3d3d3;
}

/* COLUMN START */

.column-standard {
    width: 280px;
}

.column-ultimate {
    width: 280px;
}

.column-premium {
    width: 280px;
}

.cell-pricing-plan {
    width: 311px;
    height: 159px;
}

/* COLUMN END */

/* TABLE HEAD START */

.table-header {
    background-color: #FAFAFA;
}

.pricing-plan-smaller-words {
    font-weight: bold;
    font-size: 18px;
}

.pricing-plan-bigger-words {
    font-weight: bold;
    font-size: 30px;
}

.head-cell {
    font-size: 24px;
    color: #FFF;
}

.head-standart {
    background-color: #89C331;
}

.head-ultimate {
    font-size: 30px;
    background-color: #F04A56;
}

.head-premium {
    background-color: #20807C;
}

.pricing-cell {
    display: flex;
    justify-content: center;
}

.price-text {
    /* width: 280px; */
    font-weight: bold;
    font-size: 60px;
}

.sup {
    font-size: 1em;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}

.per-month {
    font-weight: normal;
    margin: 0;
}

/* TABLE HEAD END*/

/* TABLE BODY START */

.table-body-row {
    height: 72px;
    background: #F2F2F2;
    font-size: 16px;
}

.table-body-row:nth-of-type(2n) {
    background: #E3E3E3;
}

/* TABLE BODY END */

/* TABLE FOOTER START */

.table-footer-row {
    height: 107px;
    background: #F2F2F2;
}

.btn {
    cursor: pointer;
    width: 195px;
    height: 54px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 52px;
}

.btn-black {
    background-color: #484848;
    border-bottom: 5px solid #404040;
}

.btn-green {
    background-color: #89C331;
    border-bottom: 5px solid #79B027;
}

.btn-red {
    background-color: #F04A56;
    border-bottom: 5px solid #DF3A46;
}

.btn-blue {
    background-color: #20807C;
    border-bottom: 5px solid #16736F;
}

/* TABLE FOOTER END */