/* COMMON STYLES */

body {
    background: url('../img/bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
}

.container {
    margin: auto;
    max-width: 1030px;
    padding-top: 40px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    display: flex;
    justify-content: space-between;
}

.header-logo-link:hover {
    filter: invert(58%) sepia(88%) saturate(4297%) hue-rotate(350deg) brightness(100%) contrast(90%);
}

.header-logo-text {
    margin-left: 8px;
}

.text-big-bold {
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    text-transform: uppercase;
}

.text-normal-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.contacts-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    line-height: 38px;
}

.header-contact-link:hover {
    color: #F26522;
}

.header-contact-link {
    margin-left: auto
}

/* MAIN */

.tour-logo-shopping {
    background: url("../img/tours-shopping.png");
}

.tour-logo-sightseeing {
    background: url("../img/tours-sightsee.png");
}

.tour-logo-food {
    background: url("../img/tours-food.png");
}

.tour-logo-nightlife {
    background: url("../img/tours-nightlife.png");
}

.tour-logo-art {
    background: url("../img/tours-architecture.png");
}

.tour-logo-walking {
    background: url("../img/tours-walking.png");
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 36px 64px;
    grid-auto-rows: 260px;
    margin-top: 17px;
    text-align: center;
}

.card-album {
    box-sizing: content-box;
    position: relative;
}

.card-album-body {
    display: inline-block;
    border: 3px solid;
    border-image-source: linear-gradient(0deg, #F26522, black);
    border-image-slice: 1;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 18px;
}

.card-album:hover .card-text {
    color: #F26522;
}

.card-text {
    text-transform: capitalize;
    padding-top: 20px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #F26522;
    color: white;
    margin-top: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}

.price-container {
    display: inline-block;
    vertical-align: bottom;
}

.card-album:hover .card-details, .card-details:hover {
    margin-top: 150px;
    transition: 0.3s;
}

.card-small-text {
    margin: 0;
    font-size: 10px;
    text-align: left;
}

.card-normal-text {
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    align-self: auto;
    transition: 0.2s;
    padding: 8px 0;
    cursor: pointer;
    text-transform: capitalize;
}

.card-big-text {
    margin: 0;
    font-size: 20px;
}

.card-normal-text::after {
    content: ">";
    padding-left: 16px;
}

/* FOOTER */

.footer {
    text-align: center;
    margin-top: 50px;
}

.footer p {
    font-size: 12px;
}