* {
    font-family: sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

/* HEADER START */

.nav-list {
    text-align: center;
}

.nav-item {
    font-family: sans-serif;
    list-style-type: none;
    margin: 30px 25px;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
}

.img-page-big {
    width: 100%;
    margin-bottom: 49px;
}

/* HEADER END */

/* MAIN SECTION START */

.section-main {
    text-align: center;
}

.section-main-title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 38px;
}

.section-main-description {
    font-size: 16px;
    line-height: 26px;
    color: #4d4943;
    margin-bottom: 28px;
}

.btn-getstart {
    cursor: pointer;
    background-color: #ff0000;
    border-radius: 4px;
    border: 0;
    color: white;
    padding: 19px 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin: 66px auto;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

/* MAIN SECTION END */

/* FOOTER START */

.copyright-footer {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 29px;
}

/* FOOTER END */