body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* COMMON STYLES START */

.blue-colour {
    color: #4bcaff;
}

.center-block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 50px;
}

.container-item {
    list-style-type: none;
}

/* COMMON STYLES END */

/* HEADER START */

.header {
    padding-top: 61px;
}

a.logo-ramda:link, a.logo-ramda:visited {
    text-decoration: none;
    color: black;
}

.logo-ramda {
    font-size: 80px;
    line-height: 94px;
}

.navbar-list {
    margin-top: 40px;
    background: #35444F;
    display: flex;
    justify-content: center;
}

.navbar-item:hover {
    background: #222F3A;
}

.navbar-item {
    padding: 20px 34px;
    border-left: solid white 1px;
}

.navbar-link {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.navbar-item-last {
    border-right: solid white 1px;
}

/* HEADER END */

/* ASIDE START */

.aside-block {
    width: 344px;
}

.aside-list {
    box-sizing: border-box;
    border: 1px solid #000;
}

.aside-item {
    padding: 25px 44px;
}

.aside-item:hover {
    background: #DBDBDB;
    padding-left: 60px;
    transition-duration: 0.3s;
}

.aside-link {
    text-decoration: none;
    font-size: 27px;
    color: #485863;
}

/* ASIDE END */

/* MAIN START */

.ramda-logo-block {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    border: 1px solid #000000;
}

.ramda-logo-block img {
    transition: 0.3s;
    transform: scale(1);
}

.ramda-logo-block:hover img {
    transform: scale(1.2)
}

.main-block {
    width: 885px;
}

.text-decription {
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
}

/* MAIN END */

/* FOOTER START */

.footer {
    display: flex;
    justify-content: space-between;
    background: silver;
    padding: 20px;
    margin-top: 54px;
    margin-bottom: 30px;
    align-items: center;
}

.footer-list {
    width: 928px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.footer-link {
    transition: color 0.3s, padding 0.3s, border-bottom-color 0.2s;
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    border-bottom: 1px solid transparent;
}

.footer-link:hover {
    color: #3181a6;
    padding-bottom: 8px;
    border-bottom-color: #3181a6;
}

.copyright-text {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

/* FOOTER END */