body {
    background-color: #3A4965;
}

p {
    margin: 0 auto;
}

.price-table {
    border-collapse: collapse;
    font-family: Verdana;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}

.price-table td {
    border-bottom: 1px solid #d3d3d3;
}

/* COMMON STYLES START */

.darken-row {
    background-color: #E3E3E3;
    width: 160px;
}

.lighten-row {
    background-color: #F2F2F2;
    width: 160px;
}

.green-bkrnd {
    background-color: #89C331;
}

.red-bkrnd {
    background-color: #F04A56;
}

.blue-bkrnd {
    background-color: #20807C;
}

/* COMMON STYLES END */

/* HEAD START */

.pricing-plan-smaller-words {
    font-weight: bold;
    font-size: 14px;
}

.pricing-plan-bigger-words {
    font-weight: bold;
    font-size: 20px;
}

tr th {
    border-bottom: 14px solid #3A4965;
}

.cell-pricing-plan {
    box-sizing: border-box;
    background-color: #FAFAFA;
    width: 200px;
    height: 116px;
}

/* HEAD END */

/* BODY START */

.main-pricing-cell {
    width: 198px;
    height: 164px;
    border-bottom: 0px;
}

.pricing-plan-name {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 4px;
}

.price {
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #FFF
}

sup {
    font-size: 15px;
    font-weight: bold;
    line-height: 1px;
    vertical-align: top;
    color: #fff;
}

.pricing-normal-text {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    vertical-align: top;
}

button {
    cursor: pointer;
    width: 146px;
    height: 44px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 42px;
    background-color: #484848;
    border-bottom: 5px solid #404040;
    margin-top: 10px;
}

/* BODY END */