.footer-wrapper {
    background-color: #000000;
    width: 100%;

    display: flex;
    flex-direction: column;

}

.footer-header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FEFEFE;

    text-align: center;

    margin: 38px 0 13px;
}

.footer-disciprtion {
    @include footer-discription-parametrs;

    @media (min-width: 768px) {
        display: none;
    }
}

.footer-disciprtion-768 { 
        display: none;
        
        @include footer-discription-parametrs;

        @media (min-width: 768px) {
            display: block;
            width: 684px;

            font-size: 16px;
            line-height: 28px;
        }
}

.footer-links {
    width: 192px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer-links__item {
    position: relative;

    width: 34px;
    height: 34px;
}

.footer-links__item__link {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-links__item__link__svg-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-contacts {
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    text-align: center;

    width: 230px;
    margin: 25px auto 47px;

    @media (min-width: 768px) {
        width: 610px;
    }
}