.menu-container {
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;

	@media (min-width: 768px) {
		padding: 41px 15px 43px;
	}

	@media (min-width: 1200px) {
		width: 1170px;
		padding: 45px 15px 55px;
	}
}

.header-menu {
	display: none;
	position: absolute;
	top: 58px;
	right: 28px;
	background-color: #f5f5f5;

	@media (min-width: 768px) {
		width: 610px;
		@include flex-margin0;
		position: static;
		background-color: inherit;
	}
	@media (min-width: 1200px) {
		width: 815px;
		@include flex-margin0;
		position: static;
	}
}

.header-menu--active {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 208px;
	width: 182px;
}

.header-menu__link:hover {
	color: #57a4a4;
}
.header-menu__item {
	padding: 10px 13px;
	flex: auto;

	cursor: pointer;

	font-size: 11px;
	text-transform: uppercase;
	color: $base-textcolor;

	&:active,
	&:focus,
	&:hover {
		@media (max-width: 768px) {
			background-color: #e5e5e5;
		}
	}
}

.header-menu-btn {
	width: 17px;
	height: 12px;
	padding: 17px 22px 18px;
	margin: 23px 28px;
	background-color: #000000;
	cursor: pointer;

	position: relative;

	@media (min-width: 768px) {
		display: none;
	}
	@media (min-width: 1200px) {
		display: none;
	}
}

.header-menu-btn__lines {
	display: block;
	@include white-lines;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		@include white-lines;
	}
	&::after {
		bottom: 4px;
	}
	&::before {
		top: 4px;
	}
}

.header-menu-btn__lines--active {
	display: block;
	@include white-lines;

	position: absolute;
	left: 30%;
	top: 50%;

	transform: rotate(45deg);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		@include white-lines;

		transform: rotate(90deg);
	}
}
