.main-wrapper {
	margin: 0 auto;
	width: 320px;
	padding: 0 15px;

	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		width: 768px;
	}

	@media (min-width: 1200px) {
		width: 1200px;
	}
}

.picture-wrapper {
	margin: 0 auto;
}

.posts-header {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #4e4e4e;

	margin: 36px 0 23px;

	@media (min-width: 768px) {
		margin: 56px 0 24px;
	}

	@media (min-width: 1200px) {
		margin: 66px 0 24px;
	}
}

.posts {
	@media (min-width: 1200px) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 350px;
	}
}

.posts__item {
	display: flex;
	flex-direction: column;

	margin-bottom: 29px;

	@media (min-width: 768px) {
		height: 140px;
		flex-direction: row;
	}

	@media (min-width: 1200px) {
		width: 585px;
	}
}

.posts__item__header {
	margin: 20px 0 0;

	font-weight: bold;
	font-size: 14px;
	color: #4e4e4e;

	@media (min-width: 768px) {
		margin-left: 20px;
		width: 100%;
	}

	@media (min-width: 1200px) {
		width: 400px;
	}
}

.post__item__text-block {
	margin-left: 21px;
}

.posts__item__comments {
	margin: 10px 0 0;

	font-size: 11px;
	color: #7c7c7c;

	@media (min-width: 768px) {
		margin-left: 20px;
		width: 100%;
	}

	@media (min-width: 1200px) {
		width: 400px;
	}
}

.posts__item__discription {
	display: none;

	font-size: 14px;
	color: #5c5c5c;

	@media (min-width: 768px) {
		display: block;

		margin-top: 18px;
		margin-left: 20px;
		width: 400px;
	}

	@media (min-width: 1200px) {
		width: 400px;
	}
}
