@mixin flex-margin0 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@mixin white-lines {
    width: 17px;
    height: 2px;
    background-color: #ffffff;
}

@mixin footer-discription-parametrs {
    font-size: 12px;
    color: #B9B9B9;

    font-size: 12px;
    text-align: center;

    color: #B9B9B9;

    width: 300px;
    margin: 0 auto 25px;
}