/* COMMON STYLES START */

:root {
    --title-color: #14AFCA;
    --light-color: #fff;
    --dark-color: #424F57;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 18px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title-color {
    color: var(--title-color);
}

.color-light {
    color: var(--light-color);
}

.color-dark {
    color: var(--dark-color);
}

.h2-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
}

.h3-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.bold {
    font-weight: bold;
}

/* COMMON STYLES END */

/* HEADER START */

.header-bg {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg1.jpg) no-repeat, center;
    transform: translateZ(2px) scale(1);
    background-size: 100%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
    z-index: -1;
}

.header-content {
    margin: 0px auto;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    max-height: 115px;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 595px;
}

.logo-container {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.logo-text {
    color: var(--title-color);
    text-transform: uppercase;
}

.header-menu li a {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #424F57;
}

.header-menu li a:hover {
    color: var(--title-color);
}

.header-bg-title {
    font-family: Roboto, sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    margin-top: 150px;
}

/* HEADER END */

/* MAIN CONTENT START */

.main-text-section {
    margin-top: 120px;
    text-align: center;
}

.text-description {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.companies-bg {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.companies-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg2.jpg) no-repeat, center;
    transform: translateZ(1px) scale(1.1);
    background-size: 100%;
    z-index: -1;
    clip-path: polygon(51% 10%, 51% 10%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 0);
}

.companies-bg .container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.сompanies-logos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 70px;
    align-items: center;
    margin-top: 50px;
}

.meet-us-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    grid-column-gap: 60px;
    justify-items: center;
}

.card-text-description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
    width: 309px;
}

.testimonials-bg {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

.testimonials-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg3.jpg) no-repeat, center;
    transform: translateZ(1px) scale(1);
    background-size: 100%;
    z-index: -1;
    clip-path: polygon(50% 10%, 50% 10%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
}

.testomonials-text-content {
    font-family: Open Sans, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #D3CCCC;
    position: relative;
}

.content-quote {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-right: 90px;
}

.why-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #424F57;
    width: 816px;
    margin: 0 auto;
}

/* MAIN STYLES END */

/* FOOTER START */

.footer {
    text-align: center;
    margin: 120px 0;
}

footer span {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3C3C;
}