body {
    font-family: 'Open Sans';
    font-style: normal;
    background-color: #525252;
}

.container {
    width: 1200px;
    margin: auto;
}

.section-title {
    color: #18B4CF;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

/* COMMON STYLES END */

/* HEADER START */

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-name {
    color: rgb(200, 200, 200);
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

.logo-pic {
    padding: 18px;
    background-color: #313131;
}

.header-menu-item {
    margin-right: 35px;
}

.header-menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-weight: 600;
    font-size: 15px;
}

.header-menu-link:hover {
    transition: 0.3s;
    color: #14B9D5;
}

.search-link {
    text-decoration: none;
    padding: 25px;
    background-color: #000;
}

.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    padding-top: 164px;
    padding-bottom: 64px;
}

.main-header-title {
    text-transform: uppercase;
    font-size: 27px;
    color: #fff;
    padding-bottom: 44px;
}

.btn {
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    width: 170px;
    padding: 20px 5px;
    margin: 10px;
    border-radius: 5px;
}

.bg-green {
    background-color: #557c3e;
}

.bg-blue {
    background-color: #0f5f6d;
}

/* HEADER END */

/* POPULAR-POSTS START */

.posts {
    padding-top: 50px;
    padding-bottom: 72px;
}

.popular-posts {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-between;
    max-height: 900px;
    margin-top: 50px;
}

.post a {
    text-decoration: none;
}

.post-description {
    font-weight: bold;
    color: #dbdbdb;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: rgb(107, 107, 107);
    margin-bottom: 30px;
}

/* POPULAR-POSTS END */

/* CLIENTS START */

.clients {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/clients-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 190px;
    margin-bottom: 50px;
}

.clients-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 90px;
}

.underline {
    width: 62px;
    height: 3px;
    margin: 0 auto;
    background: #3ce2ff;
    margin-bottom: 90px;
}

.our-clients-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

/* CLIENTS END */

/* TOP-RATED START */

.top-rated-posts {
    display: grid;
    grid-auto-flow: column;
    margin-top: 50px;
}

.top-rated-img {
    width: 100%;
}

/* TOP-RATED END */

/* HOT NEWS START */

.hot-news {
    margin-top: 50px;
    margin-bottom: 77px;
}

.hot-news-posts {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.hot-news-link {
    display: grid;
    text-decoration: none;
    background-color: #5f5f5f;
}

.two-column-first {
    grid-column: 1 / 3;
}

.two-column-last {
    grid-column: 3 / 5;
}

.three-column-first {
    grid-column: 1 / 4;
}

.three-column-last {
    grid-column: 2 / 5;
}

.one-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hot-news-descr {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #c2c2c2;
    margin-right: 20px;
    padding: 10px 20px 10px 10px;
    line-height: 1.5;
}

.hot-news-title {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #c8c8c8;
    margin-top: 20px;
    padding: 10px 40px;
}

.center {
    text-align: center;
    margin-top: 5px;
}

/* HOT NEWS END */

/* FOOTER START */

.footer {
    padding: 30px;
    background-color: #1D2124;
    color: #fff;
    font-size: 13px;
}

.footer-block {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
}

.footer-logo {
    place-self: end;
    margin-right: 10px;
}

.footer-text {
    padding-top: 5px;
    margin-left: 10px;
}

/* FOOTER END */